body{
    height: 100px;
    display: flex;
    background-color: grey;
}

.card{
    height: 400px;
    border: 1px solid grey;
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}